@import '~antd/dist/antd.css';
@import "primer-avatars/index.scss";

@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;
  @if $range == phone-only {
     @media (max-width: #{$phone-upper-boundary - 1}){
      @content;
    }
  }
  @else if $range == tablet-portrait-up {
     @media (min-width: $phone-upper-boundary){
      @content;
    }
  }
  @else if $range == tablet-landscape-up {
     @media (min-width: $tablet-portrait-upper-boundary){
      @content;
    }
  }
  @else if $range == desktop-up {
     @media (min-width: $tablet-landscape-upper-boundary){
      @content;
    }
  }
  @else if $range == big-desktop-up {
     @media (min-width: $desktop-upper-boundary){
      @content;
    }
  }
}
// usage
// .my-box {
//   padding: 10px;
//
//   @include for-size(desktop-up) {
//     padding: 20px;
//   }
// }

$backfround-color: #111525;

$dash-card-top-color: #1f273e;
$card-background-color: #252d47;
$card-border-shadow: #20273f;
$card-text-color: #818399;

$success-color: #52c41a;

body{
  background-color:#181e36
}
.App{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
}
.navbar{
  height: 100%;
}
.main-screen{
  width: 87%;
  background-color: #181e36;
}
.card-container{
  width: 100%;
  height:100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.dash-card{
  box-shadow: 0px 2px 1px #000;
  width: 160px;
}
.dash-card .ant-card-body{
  padding-top: 0px;
  padding-bottom: 12px;
}
.dash-progress{
  padding-top: 24px;
  display: flex;
  justify-content: center;
}
.ant-card-contain-tabs > .ant-card-body{
  padding: 0px;
}
.dash-card > ul {
  pointer-events: none;
}
.ant-card-meta-title{
  color: #fff;
}
.payout-card-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: $card-text-color;
}
.payout-card-flex p{
  margin-bottom: 0;
}
.payout-card-value{
  color: $success-color;
}
.card-arr{
  margin: 0 5px 0 5px;
  height: 15px;
}
.ant-card-head-title{
  color: #fff;
}
.ant-tabs{
  color: $card-text-color;
}
.ant-card{
  background: transparent;
}
.ant-card-head{
  background-color: $card-background-color;
  border-bottom: 1px solid $card-border-shadow;
}
.ant-card.dash-card {
  background-color: $dash-card-top-color;
}
.ant-card-bordered {
  border: 1px solid $card-border-shadow;
  border-radius: 5px;
}
.ant-card-actions {
  border-top: 1px solid $card-border-shadow;
  background: $card-background-color;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ant-card-actions > li{
  color: $card-text-color;
}
.ant-card-actions > li:not(:last-child) {
  border-right: 1px solid $card-border-shadow;
}
.ant-progress-circle-trail {
  stroke: #222642;
}
.ant-progress-circle .ant-progress-text{
  color: $card-text-color;
  font-size: 14px;
}

.dash-progress > .ant-progress-inner > .ant-progress-circle {
  filter: drop-shadow(0px 0px 1px black);
}

.betting-open > .ant-progress-inner > .ant-progress-circle > path.ant-progress-circle-path {
  stroke: url(#gradient-circle-progress-open);
}
.betting-closed > .ant-progress-inner > .ant-progress-circle > path.ant-progress-circle-path {
  stroke: url(#gradient-circle-progress-closed);
}
.ant-progress-status-success .ant-progress-circle-path {
  stroke: #52c41a !important;
}
.participating-coins{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.AvatarStack-body {
  background: transparent;
}
.AvatarStack-body .avatar {
  background-color: transparent;
  border-right: none;
}
.dash-logo{
  height: 35px;
  filter: drop-shadow(0px 0px 1px black);
}

.dash-logo{
  height: 35px;
  filter: drop-shadow(0px 0px 1px black);
}

.create-pool-flex{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-channel{
  padding: 20px;
  align-items: center;
  justify-content: center;
}


.create-channel-card{
  box-shadow: 0px 2px 1px #000;
  background: $card-background-color;
  width: 30%;
  padding: 15px;
}

.create-pool-card{
  box-shadow: 0px 2px 1px #000;
  background: $card-background-color;
  width: 300px;
  padding: 15px;
}
.create-pool-card label{
  color: #fff;
}
.rw-multiselect{
  border-radius: 5px;
}
.rw-list-option.rw-state-focus, .rw-list-option.rw-state-focus:hover{
  border-color: transparent !important;
}
.rw-widget-picker>.rw-select {
  background: #fff;
}

.pocket-form label {
  color: #fff;
}

ant-carousel .slick-slide {
  width: 163px;
}

.move-right-1 {
  padding-left: 60px;
}

.anchor-not-clickable {
  pointer-events: none;
  cursor: default;
}


.standardList {
  .ant-list-item-meta-description{
    color: #fff;
    font-size: 20px;
  }

  .ant-list-item-meta, .ant-list-item-content{
    flex: 0.3 1;
  }

  .ant-list-item-content{
    flex: 0.6 1;
  }

  :global {
    .ant-card-head {
      border-bottom: none;
    }
    .ant-card-head-title {
      line-height: 32px;
      padding: 24px 0;
    }
    .ant-card-extra {
      padding: 24px 0;
    }
    .ant-list-pagination {
      text-align: right;
      margin-top: 24px;
    }
    .ant-avatar-lg {
      width: 48px;
      height: 48px;
      line-height: 48px;
    }
  }
  .headerInfo {
    position: relative;
    text-align: center;
    & > span {
      //color: @text-color-secondary;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 4px;
    }
    & > p {
      //color: @heading-color;
      color: #fff;
      font-size: 24px;
      line-height: 32px;
      margin: 0;
    }
    & > em {
      background-color: hsv(0, 0, 91%);
      position: absolute;
      height: 56px;
      width: 1px;
      top: 0;
      right: 0;
    }
  }
  .listContent {
    font-size: 0;
    .listContentItem {
      color: #fff;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      font-size: 14px;
      margin-left: 50px;
      > span {
        line-height: 20px;
      }
      > p {
        margin-top: 4px;
        margin-bottom: 0;
        line-height: 22px;
      }

    }
  }
  .extraContentSearch {
    margin-left: 16px;
    width: 272px;
  }
}

@media screen and (max-width: 480px) {
  .standardList {
    :global {
      .ant-list-item-content {
        display: block;
        flex: none;
        width: 100%;
      }
      .ant-list-item-action {
        margin-left: 0;
      }
    }
    .listContent {
      margin-left: 0;
      & > div {
        margin-left: 0;
      }
    }
    .listCard {
      :global {
        .ant-card-head-title {
          overflow: visible;
        }
      }
    }
  }
}
// Small screen / tablet
@media screen and (max-width: 576px) {
  .standardList {
    .extraContentSearch {
      margin-left: 0;
      width: 100%;
    }
    .headerInfo {
      margin-bottom: 16px;
      & > em {
        display: none;
      }
    }
  }
}
// Medium screen / desktop
@media screen and (max-width: 768px) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
  .listCard {
    :global {
      .ant-radio-group {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

// Large screen / wide desktop and Medium screen / desktop
@media screen and (max-width: 992px) and (min-width: 768px) {
  .standardList {
    .listContent {
      & > div {
        display: block;
      }
      & > div:last-child {
        top: 0;
        width: 100%;
      }
    }
  }
}
// Extra large screen / full hd
@media screen and (max-width: 1200px) {
  .standardList {
    .listContent {
      & > div {
        margin-left: 24px;
      }
      & > div:last-child {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .standardList {
    .listContent {
      text-align: right;
      & > div:last-child {
        top: 0;
      }
    }
  }
}



.descriptionList {
  // offset the padding-bottom of last row
  :global {
    .ant-row {
      margin-bottom: -16px;
      overflow: hidden;
    }
  }

  .title {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .term {
    line-height: 22px;
    padding-bottom: 16px;
    margin-right: 8px;
    color: #fff;
    white-space: nowrap;
    display: table-cell;

    &:after {
      content: ":";
      margin: 0 8px 0 2px;
      position: relative;
      top: -.5px;
    }
  }

  .detail {
    line-height: 22px;
    width: 100%;
    padding-bottom: 16px;
    color: #fff;
    display: table-cell;
  }

  &.small {
    // offset the padding-bottom of last row
    :global {
      .ant-row {
        margin-bottom: -8px;
      }
    }
    .title {
      margin-bottom: 12px;
      color: #fff;
    }
    .term, .detail {
      padding-bottom: 8px;
    }
  }

  &.large {
    .title {
      font-size: 16px;
    }
  }

  &.vertical {
    .term {
      padding-bottom: 8px;
      display: block;
    }

    .detail {
      display: block;
    }
  }
}

.myraces-container {
  & > .title, .details, .term, .detail, .descriptionList .title {
    color: #000;
  }
}

.runningListContentItem{
  background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(14,169,201,1) 35%, rgba(0,212,255,1) 100%);
}

.finishedListContentItem{

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,201,48,1) 35%, rgba(0,212,255,1) 100%);
}


/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181e36;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.card-container-child {
  width: 100%;
}

.ant-carousel .slick-prev {
  background: #fff !important;
  color: #000 !important;
  height: 40px;
  width: 40px;

}

.ant-carousel .slick-next {
  background: #fff !important;
  color: #000 !important;
  height: 40px;
  width: 40px;

}

.slick-prev:before, .slick-next:before {
  color:red !important;
}


.slick-arrow {
  color: #fff  !important;
  background: none !important;
}

.rewards-table{
  color: #fff;
}

.faq-title{
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase
}
.faq-text {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}
.faq{
  color:#fff;
  margin-top: 50px;
  margin-left:30px;
}

.faq-block{
  padding-top: 50px;
}